<%= render :partial => 'visitors/form' %>
<div class="container text-center">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h3>
        Subscribe!
      </h3>
      <p>Get the videos in combination with the book series
        <em>Learn Ruby on Rails</em> from the RailsApps project.</p>
      <% if user_signed_in? %>
        <% if current_user.expired? %>
            <a href="#" class="btn btn-danger btn-xlarge" data-toggle="modal" data-target="#purchaseModal">Renew</a>
        <% else %>
          You have a subscription.
        <% end %>
      <% else %>
        <a href="https://tutorials.railsapps.org/#products" class="btn btn-danger btn-xlarge">Learn More</a>
      <% end %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
