<%= render :partial => 'visitors/form' %>
<div class="container text-center">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h3>
        Support the project!
      </h3>
      <h4>
        $19 per month
      </h4>
      <p>
        We're on a mission to help everyone to learn.
      </p>
      <p>
        Each week we offer a new, free video. Support the project and get access to all the videos from past weeks.
      </p>

      <% if user_signed_in? %>
        <% if current_user.expired? %>
            <a href="#" class="btn btn-danger btn-xlarge" data-toggle="modal" data-target="#purchaseModal">Renew</a>
        <% else %>
          You have a subscription.
        <% end %>
      <% else %>
        <a href="#" class="btn btn-danger btn-xlarge" data-toggle="modal" data-target="#purchaseModal">Subscribe</a>
      <% end %>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <dl>
        <dt>
          <br />
          Why do I need to subscribe?
        </dt>
        <dd>
        We deliver a new, free video every week. To keep the free videos coming, we need your help. Support the project and you'll get access to all the past videos.
        </dd>
      </dl>
    <div class="col-md-3">
    </div>
</div>
