<div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="text-center">
        <br />
        <br />
        <br />
        <h4>Get the videos in combination with the book series
        <em>Learn Ruby on Rails</em>.</h4>
        <br />
        <a href="https://tutorials.railsapps.org/#products" class="btn btn-danger btn-xlarge">Learn More</a>
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
