<% if user_signed_in? %>
  <%= link_to("View", video, :class => "btn btn-danger btn-xs") %>
<% else %>
  <a href="#" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#purchaseModal">Subscribe</a>
<% end %>
