<div class="container">
  <div class="row">
    <h3>Coupons</h3>
    <div class="column">
      <table class="table">
        <thead>
          <tr>
            <th>Code</th>
            <th>Role</th>
            <th>Mailing list</th>
            <th>List group</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @coupons.each do |coupon| %>
            <tr>
              <%= render coupon %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br />
      <br />
      <%= paginate @coupons %>
    </div>
  </div>
</div>
<br>
<%= link_to 'New Coupon', new_coupon_path %>

