<% content_for :title do %>About Fullstack Videos<% end %>
<div class="midform">
  <h3>AsiaG</h3>
  <p>
Asia Granada is a beginner who started coding in 2016. She has a talent for demanding explanations and presenting the answers in a way anyone can understand. She grew up in the city of Davao in the Philippines and now travels the world as a digital nomad.
  </p>
  <h3>Daniel Kehoe</h3>
  <p>
Daniel Kehoe has been part of the development of the Web since its beginnings in 1991, as one of the first participants in Tim Berner-Lee's www-talk forum. Daniel is a former writer and editor at PC WORLD and NeXTWORLD magazines in San Francisco, where he became known for writing about technology in a lively and entertaining style. He began consulting as a web application developer in 1995, consulted as a CTO to various small and mid-sized enterprises, and served as technical cofounder in various long-forgotten startups. He is best known as the author of the popular book, <a href="http://learn-rails.com/learn-ruby-on-rails.html"><i>Learn Ruby on Rails</i></a>. He is a digital nomad.
  </p>
  <h3>The Project</h3>
  <p>
Together, AsiaG and Daniel Kehoe are on a mission to make application development accessible to everyone. The video tutorials are for entrepreneurs, career changers, and anyone else who wants to make an impact in the digital economy. Our perspective is diverse and worldwide; we believe anyone can learn to code.
  </p>
  <h3>Your Support</h3>
  <p>
A monthly subscription of $19 supports the project and gives you access to the archives of past videos. A weekly free video is available to everyone. Your support is critical to the success of the project, as there are no advertisers or corporate sponsors. It's our full-time job and all expenses are paid from subscriptions. Your support makes it possible!
  </p>
</div>
