<% content_for :title do %>About Fullstack Videos<% end %>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <br/>
        <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_tfyuod3vue popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
<div class="midform">
    <h3>About the Project</h3>
    <p>
      Asia Granada, known to the world as AsiaG, began learning to code in 2016, vowing to record a video about everything she learned, so others can learn with her.
    </p>
    <p>
      Daniel Kehoe is an experienced technologist, teacher, and writer, who began answering AsiaG's questions, and soon found himself helping to make videos.
    </p>
      Together, AsiaG and Daniel Kehoe are on a mission to make application development accessible to everyone. The video tutorials are for entrepreneurs, career changers, and anyone else who wants to make an impact in the digital economy. Our perspective is diverse and worldwide; we believe anyone can learn to code.
    </p>
    <h3>Your Support</h3>
    <p>
      A monthly subscription of $19 supports the project and gives subscribers access to the archives of past videos. A weekly free video is available to everyone. Your support is critical to the success of the project, as there are no advertisers or corporate sponsors.
    </p>
  <h3>Our Bios</h3>
  <h4>AsiaG</h4>
    <p>
      Asia Granada has a talent for demanding explanations and presenting the answers in a way anyone can understand. She grew up in the city of Davao in the Philippines and graduated from Ateneo de Davao University with a degree in International Relations.
    </p>
  <h4>Daniel Kehoe</h4>
    <p>
      Daniel Kehoe has been part of the development of the Web since its beginnings in 1991, as one of the first participants in Tim Berner-Lee's www-talk forum. Daniel is a former writer and editor at PC WORLD and NeXTWORLD magazines in San Francisco, where he became known for writing about technology in a lively and entertaining style. He began consulting as a web application developer in 1995, consulted as a CTO to various small and mid-sized enterprises, and served as technical cofounder in various long-forgotten startups. He is best known as the author of the popular book, <a href="http://learn-rails.com/learn-ruby-on-rails.html"><i>Learn Ruby on Rails</i></a>.
    </p>
</div>
