// Custom Styles
body {
  background-color: #eee;
}
.navbar-inverse {
    background-color: #000;
    border-color: #000;
}
.midform {
  max-width: 640px;
  margin: 0 auto;
}
.narrow-field {
  width: 120px;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
